XML/3_11/biblioteca.dtd

<!ELEMENT biblioteca (libri)>
<!ELEMENT libri (libro*)>
<!ELEMENT libro (titolo, genere, autori, codice)>
<!ELEMENT titolo (#PCDATA)>
<!ELEMENT genere (#PCDATA)>
<!ELEMENT autori (autore+)>
<!ELEMENT codice (#PCDATA)>
<!ELEMENT autore (nome, cognome, eta)>
<!ELEMENT nome (#PCDATA)>
<!ELEMENT cognome (#PCDATA)>
<!ELEMENT eta (#PCDATA)>
