XML/3_11/squadra.dtd

<!ELEMENT squadra (nome, serie, presidente, allenatore, giocatori+, massaggiatore*)>
<!ELEMENT nome (#PCDATA)>
<!ELEMENT serie (#PCDATA)>
<!ELEMENT presidente (#PCDATA)>
<!ELEMENT allenatore (#PCDATA)>
<!ELEMENT giocatori (giocatore+)>
<!ELEMENT giocatore (nome_giocatore, ruoli, titolare)>
<!ELEMENT nome_giocatore (#PCDATA)>
<!ELEMENT ruoli (ruolo+)>
<!ELEMENT ruolo (#PCDATA)>
<!ELEMENT titolare (#PCDATA)>
<!ELEMENT massaggiatore (#PCDATA)>
